.contact-us{
    position: relative;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 1rem;
}

input{
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;

    &:focus {
        border-bottom: 2px solid var(--deep-yellow);
    }
}

textarea{
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    &:focus {
        border: 2px solid var(--deep-yellow);
    }
}

label {
    margin-top: 0.5rem;
    font-weight: 400;
}

.msg-label{
    padding-bottom: 0.3rem;
}

input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: var(--deep-yellow);
    border-radius: 5px;
    color: white;
    border: none;
}

.email-widget{
    position: fixed;
    left: 88%;
    top: 73%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 45vh;
    font-weight: 600;
    color: white;
    background-color: rgb(21, 21, 21);
    padding: 1rem;
    border-radius: 10px;
    animation: expandEmailWidget 0.5s ease forwards;
}

.submit-btn:hover{
    background-color: rgb(255, 191, 0);
}

h3, h4{
    color: white;
}

h4{
    font-weight: 400;
    font-size: 16px;
}

.heading{
    padding-bottom: 0.5rem;
    color: white;
}

.exit{
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.exit:hover{
    color: grey;
}

.toggle-btn {
    font-size: 3rem;
    color: var(--deep-yellow);
    position: fixed;
    right: 1vw;
    bottom: 2vh;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent; /* Semi-transparent black */
}

@keyframes expandEmailWidget {
    from {
        /* Start from the toggle button position */
        opacity: 0;
        transform: translate(1vw, 2vh) scale(0.1); /* Adjust these values based on your toggle button's position */
    }
    to {
        /* End at the widget's final position */
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes collapseEmailWidget {
    from {
        /* Start from the widget's full size and position */
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        /* Collapse back to the toggle button position */
        opacity: 0;
        transform: translate(1vw, 2vh) scale(0.1); /* Adjust based on your toggle button's position */
    }
}