.about-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    scroll-snap-align: start;
}

.homeLogo{
    max-width: 14%;
    max-height: 12%;
    margin-bottom: 2rem;
}
.teamPhoto{
    max-width: 50vw;
    max-height: 40vh;
    margin-bottom: 2rem;
}

.about-text{
    text-align: center;
    font-style: light;
    font-weight: 300;
    max-width: 60vw;
    font-size: 16px;
}