.snap-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    height: 90vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
  }
  
.dot-indicators {
  position: fixed; 
  display: flex;
  flex-direction: column;
  right: 2rem;    
  top: 50%;        
  z-index: 1000;   
}


@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}

.down-arrow{
    position: absolute;
    background-repeat: no-repeat;
    color: gray;
    font-size: 2rem;
    bottom: 1rem;
    right: 2rem;
    transform: translate(-50%, -50%);
    animation: bounce 1s infinite ease-in-out;
}

@media screen and (max-width: 1300px){
  .dot-indicators{
    display: none;
  }
  /* .snap-container{
    scroll-snap-type: none;
  } */
  .down-arrow{
    display: none;
  }
}