.lineup-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91%;
}

.lineup-logo{
    position: absolute;
    max-width: 14%;
    max-height: 10%;
    margin-bottom: 30%;
}

.card{
    position: relative;
    height: 40vh;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.2rem;
    cursor: pointer;

}

.card h1{
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    bottom: -7rem;
    left: 3rem;
    color: var(--deep-yellow);
}

.card p{
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 18rem;
    margin-top: 0.5rem;
}

.default-img{
    width: 20vw;
    height: 45vh;
}

.expand-img{
    width: 60vw;
    height: 45vh;
}

.content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
