.lineup-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 91%;
}

.lineup-logo{
    position: absolute;
    max-width: 14%;
    max-height: 10%;
    margin-bottom: 25%;
}

.card-container{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10%;
}

.card{
    position: relative;
    background-color: black;
    border-radius: 0.2rem;
    cursor: pointer;
    z-index: 1;
    height: 45vh;
}

.card h1{
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    left: 3rem;
    color: var(--deep-yellow);
    z-index: 3;
}

.card p{
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-left: 18rem;
    margin-top: 0.5rem;
    z-index: 3;
}


.content-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-expanded {
    z-index: 10;
    position: absolute;
    opacity: 1;
    width: 60vw;
    height: 40vh;
}

.card-collapsed{
    width: 20vw;
    height: 45vh;
}

