.intro_container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    padding: 3rem;
}

.offsite_description{
    font-weight: 400;
    padding: 1rem;
    margin-left: 4vw;
    width: 30vw;
    font-size: 18px;
    line-height: 1.6;
}

.onsite_description{
    font-weight: 400;
    padding: 1rem;
    width: 30vw;
    font-size: 18px;
    line-height: 1.6;
}

h2{
    padding: 1rem 1rem 0;
    font-size: 35px
}

.offsite_title{
    margin-left: 4vw;
}

.offsite_image{
    width: 40vw;
    height: 40vh;
}

.onsite_image{
    width: 40vw;
    height: 40vh;
    margin-left: 4vw;
}

.offsite_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.onsite_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2vh;
    gap:3rem;
    position: relative;
}

.onsite_text{
    display: flex;
    flex-direction: column;

}
.offsite_text{
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1300px){
    
    /* .snap-container{
      scroll-snap-type: none;
    } */

    .intro_container{
        padding: 0;
        gap: 2rem;
    }

    h2{
        font-size: 24px;
    }
    .onsite_description, .offsite_description{
        font-size: 12px;
        width: 90vw;
        padding: 0;
        margin: 0;
    }
    .onsite_title, .offsite_title{
        padding: 0;
        margin: 0;
    }
    .offsite_text, .onsite_text{
        z-index: 3;
        position: absolute;
        bottom: 1rem;
    }
    .offsite_content, .onsite_content{
        position: relative;
        flex-direction: column-reverse;
        width: 100%;
        height: 40vh;
        padding: 0;
    }
    .offsite_image, .onsite_image{
        position: absolute;
        order: 2;
        z-index: 2;
        height: 65%;
        width: 90%;
        margin: 0;
        top: 0;
    }

} 

