.tech_page{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
    background-color: rgb(28, 27, 27);
}

.tech_title{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    /* margin-bottom: 3rem; */
    z-index: 2;
    color: white;
}

.tech_container{
    display: block;
    flex-wrap: wrap;
    flex-direction: row;
    height: 70%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3.5rem;
}
.tech_image{
    width: auto;
    height: 100%;
    display: block;
    z-index: 2;
}


.tech_container button{
    background-color:var(--deep-yellow);
    position: absolute;
    padding: 3px;
    border-radius: 50%;
    z-index: 3;
}

.tech_container button:hover{
    background-color: rgb(125, 180, 125);
}

.hotspot-position-1{
    top: 32.4%;
    right: 17.4%;
    width: 2.2rem;
    height: 2.2rem;
}
.hotspot-position-2{
    top: 41.4%;
    right: 7.4%;
    width: 3.3rem;
    height: 3.3rem;
}
.hotspot-position-3{
    top: 58.6%;
    right: 17.8%;
    width: 2rem;
    height: 2rem;
}

.tech_page .hotspot-card{
    z-index: 100;
    top: 0;
}


