.tech_page{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: start;
}

.tech_title{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    /* margin-bottom: 3rem; */
    z-index: 2;
}

.tech_container{
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 55vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 3.5rem;
    background-color: rgb(180, 180, 180);
    border: 1px solid rgb(188, 188, 188);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.tech_image{
    width: auto;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.image-wrapper {
    position: relative;
    height: 100%;
}

.image-wrapper button{
    background-color:var(--deep-yellow);
    padding: 3px;
    border-radius: 50%;
    z-index: 10;
}

.image-wrapper button:hover{
    background-color: rgb(125, 180, 125);
}

.hotspot-position-1{
    position: absolute;
    right: 17.5%;
    top: 32.2%;
    width: 2.2rem;
    height: 2.2rem;
}
.hotspot-position-2{
    position: absolute;
    right: 7%;
    top: 41.4%;
    width: 3.3rem;
    height: 3.3rem;
}
.hotspot-position-3{
    position: absolute;
    right: 17.8%;
    bottom: 36.4%;
    width: 2rem;
    height: 2rem;
}


