.carousel {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 94%;
    height: 91%;
    margin: auto; 
}

.slide {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}


.arrow {
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Align arrow correctly */
    z-index: 10; /* Ensure arrows are above other content */
    width: 2rem;
    height: 2rem;
    color: white;
    opacity: 0.7; /* Adjusted for better visibility */
}

.arrow:hover {
    cursor: pointer;
    opacity: 1;
}

.arrow-left {
    left: 1rem; /* Adjust as needed */
}

.arrow-right {
    right: 1rem; /* Adjust as needed */
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem; /* Position at the bottom of the carousel */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Align indicators correctly */
}

.indicator {
    background-color: var(--deep-yellow);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%; /* Circular shape */
    border: none;
    margin: 0 5px; /* Space between indicators */
    cursor: pointer;
}

.indicator:hover {
    height: 0.7rem;
    width: 0.7rem;
}

.indicator-inactive {
    background-color: gray;
}
