
  
  .dot-indicator {
    width: 1rem;
    height: 1rem;
    margin: 5px;
    border-radius: 50%;
    background-color: #bbb;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot-indicator.active {
    background-color: #333;
  }

  .dot-indicator:hover{
    background-color: var(--deep-yellow);
  }
  

