.footer {
    height: 6rem;
    width: 100vw;
    background: grey;
    color: white;
    bottom: 0;
    left: 0;
    z-index: 99;
    position: absolute;
}
  
  .footer-content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .footer_logo{
    width: 8vw;
    margin-left: 4rem;
  }
