.hotspot-button {
    display: inline-block;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
  }

  .hotspot-title{
    z-index: 10;
  }

  .hotspot-img{
    height: 5rem;
    width: auto;
  }

  .hotspot-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    width: 40vw;
    height: 63vh;
    border: 1px solid black;
  }

  