.hotspot-card-container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 63vh;
}

.hotspot-card-img{
    height: 5rem;
    width: auto;
    position: absolute;
    top: 35%;
    left: 38%;
}

p { 
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    padding: 1rem;
    bottom: 10%;
    right: 5%;
}

h2{
    position: absolute;
    left: 0%;
    top: 10%;
}