
.project-detail-page {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    max-width: 900px; 
    margin: 40px auto; 
    position: relative;
}

.post-title{
    font-weight: 400;
    font-size: 36px;
    padding-top: 1rem;
    text-align: center;
}

.sub-title{
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    text-align: center;
}

.post-header,
.post-image-container{
    width: 100%; 
}

.post-image-container img {
    max-width: 100%; 
    height: auto;
}

.back-btn {
    font-weight: 400;
    display: flex;
    position: absolute;
    left: 20px; 
    top: 90px; 
    z-index: 10; 
    border-radius: 5px;
    color: #333; 
    padding: 2px 3px; 
    text-decoration: none;
    border: none; 
    cursor: pointer; 
}

/* Add a hover effect for better user experience */
.back-btn:hover {
    background-color: #e2e2e2;
}

.details {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 8px; 
    margin-top: 20px; 
    align-items: center; 
    width: 100%; 
    box-sizing: border-box; 
}

.detail_title {
    font-weight: 600;
    text-align: right; 
    padding-right: 5px;
    padding-left: 5px; 
    background-color: #f9f9f9; 
    border: 1px solid #eaeaea; 
}

.detail_data {
    text-align: left; 
    font-weight: 400;
    padding: 5px 10px; 
}

.three-letter{
    padding-left: 9px;
    padding-right: 9px;
}

.two-letter{
    padding-left: 16px;
    padding-right: 16px;
}
