*, *::before, *::after {
    margin: 0;
    padding:0;
    border:0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /* colors */
    --license-mask: hsl(0 0% 0% / 0.57);
    --product-mask: hsl(0 0% 13% / 0.8);
    --timeEff-mask: hsl(0 0% 26% / 0.67);
    --yellow-bright: hsl(39 100% 82%);
    --gray-footer: hsl(0 0% 26%);
    --text-color: hsl(0 0% 26%);
    --main-mask: hsl(0 0% 0% / 0.5);
    --nav-font: hsl(0 0% 0%);
    --manufacturing-hero-mask: hsl(0 0% 0% / 0.6);
    --top-hero-mask: hsl(0 0% 0% / 0.52);
    --deep-yellow: hsl(38 83% 64%);
    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;

    white-space: pre-line;
}


  /* General styles */
  body {
    font-family: 'Lato';
    color:var(--nav-font);
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    overflow-x: hidden;
    background: white;
  }

  button {
    font-family: 'Lato';
    color:var(--nav-font);
    font-style: Light;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    overflow-x: hidden;
    background: white;
  }


  .container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
  }

  h1,h2,h3,h4,h5{
    line-height: 1.2;
    color: var(--text-color);

  }

  h1{
    font-size: 3rem;
  }

  h3{
    font-size: 2rem;
  }

 a {
    color:var(--text-color);
 }

  img{
    display: block;
    object-fit: cover;
    width: 100%;
  }

  html {
    border: 5px solid red; /* Just for debugging purposes */

    overflow-x: hidden;
  }
  